<nav class="fixed top-0 w-screen left-0 right-0 z-40 bg-white border-t-2 border-white flex justify-between items-center py-3 pl-3 pr-5 pb-5">
    <div class="flex items-center text-2xl atma font-semibold">
        <img src="{{ asset('images/logo.png') }}" class="h-12" alt="Logo" />
        Pingup
    </div>
    <ul class="flex gap-10 text-lg">
        <li><a href="#pricing">Nos offres</a></li>
    </ul>
</nav>